Wpf_Mail/Service References/MailService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MainService.Model.DbModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MainService.Model.DbModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecipiantList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipiantList" nillable="true" type="tns:RecipiantList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipiantList" nillable="true" type="tns:ArrayOfRecipiantList" />
  <xs:complexType name="RecipiantList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipiantList" nillable="true" type="tns:RecipiantList" />
  <xs:complexType name="ArrayOfRecipiant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipiant" nillable="true" type="tns:Recipiant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipiant" nillable="true" type="tns:ArrayOfRecipiant" />
  <xs:complexType name="Recipiant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdList" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipiant" nillable="true" type="tns:Recipiant" />
</xs:schema>