Web_Mail/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MainService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MainService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Attachments" nillable="true" type="q1:ArrayOfStream" />
      <xs:element minOccurs="0" name="OwnerLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerPassword" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Receivers" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="SubjectMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>